<!DOCTYPE html>
<html lang="fr">
<% include ../../partials/head %>
<body>
<div class="page page-full" style="height: 100%;">
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            <div class="brand-text d-none d-md-inline-block"><strong class="text-secondary"><%=conversation.name%></strong></div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="height: 100% !important;">

    </div>
</div>
<div class="login-page">
    <div class="copyrights text-center live-background row" style="height: 20%; padding-bottom: 5%;">
        <div class="form-row" style="width: 100% !important;">
            <div class="col col-10">
                <input type="text" class="form-control" placeholder="Saisissez votre texte">
            </div>
            <div class="col col-2">
                <i class="fas fa-comment" style="color: #1c669c; height: 100%"></i>
            </div>
        </div>
        <!--<div class="container-fluid">
            <div class="row">
                <div class="col-10" style="background-color: ghostwhite; margin: 10px 10px; border-radius: 10px; height: 100%;">
                    Type here...
                </div>
                <div class="col-2" style="margin: 10px 10px; height: 100%;"> <i class="fas fa-comment" style="color: #1c669c; height: 100%"></i> </div>
            </div>
        </div>-->
    </div>
    <div class="copyrights text-center live-background" style="height: 5%;">
        <p>RunTonic' &copy; 2013-2018<span style="margin: 0 1%;">-</span>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </div>
</div>
<% include ../../partials/footer %>
</body>
</html>
