<!DOCTYPE html>
<html lang="fr">
<% include ../../partials/head %>
<body>
<div class="page page-full">
    <div class="container-fluid" style="padding: 0;width: 98%; margin: 0 1%">
        <link rel="stylesheet"
              href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css"
              type="text/css">
        <div class="row">
            <div class="col-lg-12">
                <div class="card no-margin-top">
                    <div class="card-header d-flex align-items-center">
                        <h2>Discussion avec <%=conversation.name%></h2>
                    </div>
                    <div class="card-body" id="msg_history" style="padding-right: 0px; padding-left: 0px; padding-top: 0px;">
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Ok</p>
                                <span class="time_date">11:01 AM | June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div><div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div><div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div><div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date">Guest | 11:01 AM | June 9</span></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-page">
    <div class="copyrights text-center" style="height: 120px; margin-bottom: 50px;">
        <div class="form-row" style="width: 98% !important; height: 100%; margin: 0 1%">
            <div class="col col-lg-11" style="padding: 0; margin: 0">
                <textarea type="text" class="form-control" style="height: 100%"></textarea>
            </div>
            <div class="col col-lg-1 my-auto">
                <i class="fas fa-comment" style="color: #1c669c; font-size: 2em;" onclick="updateScroll()"></i>
            </div>
        </div>
    </div>
    <div class="copyrights text-center" style="height: 5%;">
        <p>RunTonic' &copy; 2013-2018<span style="margin: 0 1%;">-</span>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </div>
</div>
<script type="text/javascript">
    $(".card-body").css("height", $(window).height() - 230);

    function updateScroll(){
        const element = document.getElementById("msg_history");
        element.scrollTop = element.scrollHeight;
    }

    updateScroll();
</script>
<% include ../../partials/footer %>
</body>
</html>
