<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body>
<div class="page login-page wood-background">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><strong class="text-primary">Into the Woods</strong></div>
                <p>Bienvenue sur Into the Woods, vous êtes sur le point de rejoindre votre poste.<br/>
                   Pour cela, suivez l'itinéraire sur la carte ci-dessous et valider lorsque vous y êtes.</p>
                 <div class="container-fluid">
                     <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css" type="text/css">
                     <div class="row">
                         <div class="col-lg-12">
                             <div class="card">
                                 <div class="card-header d-flex align-items-center">
                                     <h4>Itinéraire jusqu'à votre poste</h4>
                                 </div>
                                 <div class="card-body">
                                     <div id="map"></div>
                                     <script> const assignment = <%- JSON.stringify(assignment) %>; </script>
                                     <script> const helper = <%- JSON.stringify(helper) %>; </script>
                                     <script> const helper_post = <%- JSON.stringify(helper_post) %>; </script>
                                     <script> const point_of_interest = <%- JSON.stringify(point_of_interest) %>; </script>
                                     <script src="https://ignf.github.io/geoportal-access-lib/latest/dist/GpServices.js"></script>
                                     <script src="/views/pages/contents/map_helper/map.js"></script>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="copyrights text-center">
                <p>RunTonic' &copy; 2013-2018<span style="margin: 0 1%;">-</span>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
</body>
</html>
