<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body>
<div class="page login-page wood-background">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><strong class="text-primary">Into the Woods</strong></div>
                <p>Votre mot de passe va être réinitialisé. Pour le changer, veuillez entrer un nouveau mot de passe.</p>
                <form id="form" method="post" class="text-left form-validate" action="/newpassword">
                    <input type="text" name="email" value="<%=email%>" hidden>
                    <input type="text" name="reset_password_id" value="<%=reset_password_id%>" hidden>
                    <div class="form-group-material">
                        <input id="password" type="password" name="password" required data-msg="Merci d'entrer un mot de passe" class="input-material">
                        <label for="password" class="label-material">Nouveau mot de passe</label>
                    </div>
                    <div class="form-group-material">
                        <input id="confirm" type="password" name="confirm" required data-msg="Merci d'entrer un mot de passe" class="input-material">
                        <label for="confirm" class="label-material">Confirmer le nouveau mot de passe</label>
                        <p id="confirmError" style="color: red;"></p>
                    </div>
                    <div class="form-group text-center">
                        <input type="button" onclick="checkEqualsPasswords()" class="btn btn-primary" value="Enregistrer"/>
                    </div>
                </form>
            </div>
            <div class="copyrights text-center">
                <p>RunTonic' &copy; 2013-2018<span style="margin: 0 1%;">-</span>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</div>
<script>
    function checkEqualsPasswords(){
        const password = $('#password').val();
        const confirm = $('#confirm').val();
        if(password === confirm){
            $('#form').submit();
        }else{
            $('#confirmError').html("Merci d'indiquer le même mot de passe pour la confirmation.");
        }
    }
</script>
<% include ../partials/footer %>
</body>
</html>