<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body>
<div class="page page-full live-background" style="height: 100%;">
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">Into the Woods</strong><strong> Live!</strong></div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="height: 100% !important;">
        <div class="row" style="height: 88%">
            <div class="col-8"> <!-- Ranking -->
                <div class="card live-card">
                    <div class="card-body">
                        <h4 class="card-title">Classement</h4>
                        <div class="form-group">
                            <div id="output" class="col-sm-10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"> <!-- Social Network -->
                <div class="card live-card">
                    <div class="card-body" style="display:flex;flex-direction:column;">
                        <h4 class="card-title" style="flex-shrink:0;">Réseaux sociaux</h4>
                        <div style="overflow-y:auto;">
                            <%- text %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-page">
    <div class="copyrights text-center" style="height: 5%;">
        <p>RunTonic' &copy; 2013-2018<span style="margin: 0 1%;">-</span>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </div>
</div>
<% include ../partials/footer %>
<script type="text/javascript">
    function getXMLHttpRequest() {
        var xhr = null;

        if (window.XMLHttpRequest || window.ActiveXObject) {
            if (window.ActiveXObject) {
                try {
                    xhr = new ActiveXObject("Msxml2.XMLHTTP");
                } catch(e) {
                    xhr = new ActiveXObject("Microsoft.XMLHTTP");
                }
            } else {
                xhr = new XMLHttpRequest();
            }
        } else {
            alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
            return null;
        }

        return xhr;
    }

    function request() {
        var xhr = getXMLHttpRequest();

        xhr.open("POST", "http://localhost:8080/live/1", true);

        xhr.onreadystatechange = function() {
            if (xhr.readyState==4 && xhr.status==200){
                var response=JSON.parse(xhr.responseText);
                console.log(response);
                readData(response);
            }
        };

        xhr.send();
    }

    function readData(data) {
        var ul = document.createElement("ul"), li, cn;

        for (var i=0 ; i<data.length ; i++) {
            li = document.createElement("li");
            cn = document.createTextNode(data[i]["participant.first_name"] + " " + data[i]["participant.first_name"] + " vient de finir la course " + data[i]["course.label"] + " avec le temps suivant : " + data[i]["time"]);

            li.appendChild(cn);
            ul.appendChild(li);
        }

        document.getElementById("output").removeChild(document.getElementById("output").childNodes[0]);
        document.getElementById("output").appendChild(ul);
    }
    request();
    setInterval(function(){request();}, 3000);
</script>
</body>
</html>