<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
            <li class="breadcrumb-item active">Organiser un Raid</li>
            <li class="breadcrumb-item active">Initialisation</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="height: 300px;">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Initialisation</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6" onclick="document.location.href='/createraid/from_exist'" style="cursor:pointer">
                                <div class="card text-white bg-primary mb-3" style="height: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">Créer un Raid à partir d'un précédent</h5>
                                        <p class="card-text text-white">Les champs seront pré-remplis avec les tracés du Raid importé.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" onclick="document.location.href='/createraid/description'" style="cursor:pointer">
                                <div class="card text-white bg-secondary mb-3" style="height: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">Créer un nouveau Raid</h5>
                                        <p class="card-text text-white">Vous commencez tout à 0.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>