<!DOCTYPE html>
<html lang="fr">
<% include partials/head %>
<body>
    <div class="page login-page wood-background">
        <div class="container">
            <div class="form-outer text-center d-flex align-items-center">
                <div class="form-inner">
                    <div class="logo text-uppercase"><strong class="text-primary">Into the Woods</strong></div>
                    <img alt="404 picture" src="/views/img/404.png" />
                    <h3>Oups... Page non trouvée !</h3>
                    <p style="padding-bottom: 5%;">La page que vous souhaitez est introuvable...</p>
                    <a href="/" class="btn btn-primary">Retourner à la page d'accueil</a>
                </div>
                <div class="copyrights text-center">
                    <p>RunTonic' &copy; 2013-2018<span style="margin: 0 1%;">-</span>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>
</body>
</html>