<!DOCTYPE html>
<html lang="fr">
<% include partials/head %>
<body>
    <% include partials/navbar %>
    <div class="page">
        <% include partials/header %>
        <div class="layer">
            <%- //include('partials/'+page) %>
        </div>

    </div>
    <% include partials/copyright %>
    <% include partials/footer %>
</body>
</html>