<!DOCTYPE html>
<html lang="fr">
<% include partials/head %>
<body>
    <% include partials/navbar %>
    <div class="page">
        <% include partials/header %>
        <%- //include('partials/'+page) %>
    </div>
    <% include partials/footer %>
</body>
</html>