<!DOCTYPE html>
<html lang="fr">
<% include partials/head %>
<body>
    <% include partials/navbar %>
    <div class="page active-sm">
        <% include partials/header %>
        <%- include('contents/'+page) %>
    </div>
    <% include partials/copyright %>
    <% include partials/footer %>
</body>
</html>