<!DOCTYPE html>
<html lang="fr">

<body>
	Page de Live
    <div class="form-group">
        <label for="register-run" class="col-sm-2 control-label">Postes</label>
        <div id="output" class="col-sm-10">
        </div>
    </div>

	<div class="raids_container">

	</div>
	<script type="text/javascript">
		function getXMLHttpRequest() {
			var xhr = null;
			
			if (window.XMLHttpRequest || window.ActiveXObject) {
				if (window.ActiveXObject) {
					try {
						xhr = new ActiveXObject("Msxml2.XMLHTTP");
					} catch(e) {
						xhr = new ActiveXObject("Microsoft.XMLHTTP");
					}
				} else {
					xhr = new XMLHttpRequest(); 
				}
			} else {
				alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
				return null;
			}
			
			return xhr;
		}

		function request(callback) {
			var xhr = getXMLHttpRequest();
			
			xhr.onreadystatechange = function() {
				if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
					callback(xhr.responseXML);
				}
			};
			
			xhr.open("POST", "live_request.js", true);
			xhr.send(null);
		}

		function readData(oData) {
			var nodes = oData.getElementsByTagName("soft");
			var ol = document.createElement("ul"), li, cn;
			
			for (var i=0, c=nodes.length; i<c; i++) {
				li = document.createElement("li");
				cn = document.createTextNode(nodes[i].getAttribute("name"));
				
				li.appendChild(cn);
				ol.appendChild(li);
			}
			
			document.getElementById("output").appendChild(ol);
		}
	</script>
</body>